<h1>Campaign: <% @campaign.name %></h1>

<div>
  <%= link_to 'campaigns', campaigns_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Votes</th>
      <th>Invalid Votes</th>
    </tr>
  </thead>
  <tbody>
    <% @campaign.choices.each do |choice| %>
      <tr>
        <td><%= choice.name %></td>
        <td><%= choice.votes %></td>
        <td><%= choice.invalid_votes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
